@font-face {
  font-family: 'StencilFont';
  src: url('Stencil.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Candara';
  src: url('Candara.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body *{
  font-family: 'Candara', sans-serif;
  cursor: url('../knife.png'), auto;
}

h1 {
  font-weight: 900;
}

body {
  background-color: mistyrose;
}


.title {
  margin: 0 auto;
  font-size: 54px;
  font-family: 'StencilFont', 'Candara';
  color: firebrick;
  text-align: center;
}

.vizzy{
  margin: 0 auto;
}

.paratext {
  margin: 0 auto;
  padding-top: 5px;
  font-family: 'Candara', sans-serif;
  text-align: justify;
}

.center {
  margin: 0 auto;
  padding-top: 10px;  
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.centerpara{
  margin: 0 auto;
  padding-top: 5px;
  font-family: 'Candara', sans-serif;
  font-size: 20px;
}

.heading {
  padding-top: 10px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
}
.vizheading {
  margin: 0 auto;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}
.vg-tooltip {
  position: absolute; 
  pointer-events: none; 
  background-color: snow; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  z-index: 1000;
  transform: translate(45px, 45px); 
  font-size: 15px !important;
}

.redtext{
  color: red !important;
}

.greytext{
  color: gray !important;
}

.page {
  width: 1200px;
  background-color: snow;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  width: 100%;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}


